@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-top:60vh;
    padding: 0 10% 0 10%;
}
.wrapper{
}
#pc{

    flex-flow:wrap;
    justify-content: center;
}
#process{
    
    justify-content: center;
    flex-flow:wrap-reverse
}
.carrinhoContainer{
    height: 100vh;
    width: 100%;
    gap: 5%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: row;
}
.carrinho{
    width: 100vw;
    margin: 5vw;
    display: flex;
    flex-direction: column;
}
.imgPC{
    min-width: 300px;
    width: 40%;
}
@keyframes id {
    100%{
        transform: rotateZ(359deg)
    }
}
.anim{
    animation: id linear infinite;
    animation-duration: 1s;
}
.Texts{
    gap: 20px;
    text-align: center;
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: center;
}
.Texts h2{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
}
.Texts span{
    text-transform: lowercase;
    font-weight: 800;
    font-size: 20px;
}
.Texts span strong{
    font-weight: 800;
    color: #9B6DD4;
}